

<div class="col-sm-1"></div>
<div class="col-sm-4">
  <h3>Add New Contact</h3>
  <table class="table">
    <tr>
      <td>Firstname</td>
      <td></td>
    </tr>
    <tr>
      <td>Lastname</td>
      <td></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td></td>
    </tr>
    <tr>
      <td>Email</td>
      <td></td>
    </tr>
    <tr>
      <td>Address 1</td>
      <td></td>
    </tr>
    <tr>
      <td>Address 2</td>
      <td></td>
    </tr>
    <tr>
      <td>City</td>
      <td></td>
    </tr>
    <tr>
      <td>State</td>
      <td></td>
    </tr>
    <tr>
      <td>Notes</td>
      <td></td>
    </tr>

  </table>
</div>
<div class="col-sm-4"></div>
<div class="col-sm-1"></div>
