<form>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <h3>Manage Customer Messages</h3>
    <div *ngFor="let item of items">
      <h3>Current Customers:</h3>
      <table class="table">
        <tr>
          <td (click)="listmessage(item.phone)">{{ item.phone }}</td>
          <td (click)="editcustomer(item.phone)"><a routerLink="/edit">Edit</a></td>
        </tr>
      </table>
    </div>
    <p (click)="listmessage(item.phone)">{{ item.phone }}</p>
</div>
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <h3>Recent Messages</h3>
    <p *ngFor="let message of messages">{{ message.Body }} | {{ message.customer}} | {{ message.phone }}</p>
    <div>
      <input name=text [(ngModel)]="text" label="Message">
      <button class="btn btn-primary" (click)="sendmessage(text)">Send Text</button>
    </div>

  </div>
  <div class="col-sm-2"></div>

</div>


</form>
