<h3>Manage Customer Messages</h3>
<form>
<div class="row">
  <div class="col-sm-1"></div>
  <div *ngFor="let item of items" class="col-sm-4">
    <h3>Current Customers:</h3>
    <p (click)="listmessage(item.phone)">{{ item.phone }}</p>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <h3>Recent Messages</h3>
    <p *ngFor="let message of messages">{{ message.Body }} | {{ message.customer}} | {{ message.From }}</p>
    <div>
      <input name=text [(ngModel)]="text" label="Message">
      <button class="btn btn-primary" (click)="sendmessage(text)">Send Text</button>
    </div>

  </div>
  <div class="col-sm-2"></div>

</div>


</form>
